<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

  <h1>Your message has been sent, <%= @message[:name] %></h1>
    <p>
    Your message to Simon Egli has been forwarded.<br>
    Your message was:<br>
    <i><%= @message[:content] %></i>
    </p><br>
    Thank you very much, I will contact you as soon as possible. <br>
    <br>
    Regards, <br>
    <br>
    Simon Egli
  </body>
  </html>
