<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

  <h1>Your message has been sent, <%= @message[:name] %></h1>
    <p>
    Your message to Simon Egli has been forwarded.
    Your message was: <br>
    <%= @message[:content] %>
    </p>
  </body>
  </html>
