<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your message has been sent<%= @user.name %></h1>
    <p>
      You have sent a Mail to Simon Egli, it will be forwarded to him. 
      your username is: <%= @user.login %>.<br>
    </p>
    <p> Thank you </p>
  </body>
  </html>
